.note-sidebar {
  width: 250px;
  border-right: 1px solid #ccc;
  padding: 1rem;
  user-select: none;
}

.note-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-item.selected {
  background-color: lightblue;
}

.note-new-button {
  margin: 10px 0;
}
button {
  cursor: pointer;
}
.note-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  border: 2px solid #ccc;
  height: 40px;
  cursor: pointer;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}
.note-delete-button {
  background-color: red;
}
.note-delete-button:hover {
  background-color: lightblue;
}
