.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0.5rem 1rem;
  background-color: red;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
